<app-splashscreen *ngIf="shouldShowSplash()"
    class="fixed inset-0 z-9999 h-screen w-screen flex items-center justify-center bg-neutral-950 transition-transform duration-700 ease-[cubic-bezier(0.77,0,0.175,1)]"
    [class.-translate-y-full]="isFading()" [class.translate-y-0]="!isFading()">
</app-splashscreen>
<app-nav *ngIf="showGlobalUI()" class="fixed top-0 left-0 w-full z-50"></app-nav>
<div class="transition-all duration-1000" [class.scale-95]="!isFading()" [class.scale-100]="isFading()"
    [class.translate-y-10]="!isFading()">
    <router-outlet></router-outlet>
</div>
<app-socials *ngIf="showGlobalUI()" class="fixed bottom-0 left-0 z-50"></app-socials>